#navigation ul {
    margin: 0;
    padding: 0;
}

#navigation ul li {
    list-style-type: none;
    display: inline;
}

#navigation li:not(first-child):after {
    content: url('red line.png');
    color: #af0007;
    margin: 0 auto;
    padding: 12px 3px
}