body {
    max-width: 900px; /* ограничение максимальной ширины  */
    margin: 0 auto;
}

body div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
}

.header {
    background: #5d93b9;
    padding: 5px;
    color: #0000ef
}

.left-sidebar {
    width: 20%;
    background: #e8e798;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
}

.content {
    float: right;
    width: 80%;
}


.footer {
    background: #5d93b9;
    clear: both;
    color: #0000ef;
}