@font-face {
  font-family: 'Merriweather-LightItalic';
  src: url('Merriweather-LightItalic.eot');
  src: url('Merriweather-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('Merriweather-LightItalic.svg#Merriweather-LightItalic') format('svg'),
       url('Merriweather-LightItalic.ttf') format('truetype'),
       url('Merriweather-LightItalic.woff') format('woff'),
       url('Merriweather-LightItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

