


table.chessboard {
    margin: 80px auto;
    background: white;
    border: 25px solid black;
    border-collapse: collapse;
}

td.chessboard {
    width: 70px; height: 70px;
    border: 2px solid black;
}

tr.chessboard:nth-child(odd) td:nth-child(odd) {
    background: black

}

tr.chessboard:nth-child(even) td:nth-child(even) {
    background: black;

}

table.chessboard{
    border: 2px
    solid #000000;
}